{
 "openapi": "3.1.0",
 "info": {
  "title": "Reddit Advertising API",
  "version": "3",
  "description": "## Ads API terms\n\nBy accessing or using the Ads API and/or associated Reddit Data, you are agreeing that you have read, and that you Agree to comply with and to be bound by, the [Ads API Terms](https://business.reddithelp.com/s/article/Reddit-Ads-API-Terms) and all applicable laws and regulations in their entirety without limitation or qualification.\n\nThe Ads API Terms apply to and govern your access to and use of the Ads API and Reddit Data, constitute a legally binding agreement between you and Reddit, and include certain terms that are defined in the [Advertising Platform Terms](https://business.reddithelp.com/s/article/REDDIT-ADVERTISING-PLATFORM-TERMS), [Developer Terms](https://www.redditinc.com/policies/developer-terms), and [User Agreement](https://redditinc.com/policies/user-agreement).\n\nYou may use the Ads API and Reddit Data only in accordance with the Ads API Terms. Use of the Conversions API is subject to the [Advertiser Measurement Program Terms](https://business.reddithelp.com/s/article/Reddit-Business-Tool-Terms) in addition to the same agreements as the Ads API. If you do not agree to the Ads API Terms, and Advertiser Measurement Program Terms as applicable, then you must not access or use the Ads API, Conversions API, or Reddit Data.\n\n<blockquote>\n\n**Note:** The Reddit Ads API is open to all developers and **does not require allowlisting or approval from Reddit to access**. [Get started with the API](https://ads-api.reddit.com/docs/v3/create-a-developer-application).\n\nAPI partners working on behalf of advertisers can request support by [contacting us](https://support.reddithelp.com/hc/en-us/requests/new?ticket_form_id=50388520825236). See our [supported partners](https://www.business.reddit.com/solutions/find-api-partners-index).\n</blockquote>\n\n## Overview\n\nThe Reddit Ads API lets advertisers tap into the Reddit Ads Platform to build and manage advertising campaigns and accounts programmatically. By integrating Reddit Ads API into your tooling, you can streamline workflows, reduce operational overhead, and accelerate the creation, optimization, and reporting of Reddit campaigns without needing to step into the Reddit Ads Manager directly.\n\nAll API applications must be authenticated with OAuth2 by [creating a developer application](https://ads-api.reddit.com/docs/v3/create-a-developer-application) and [obtaining access and refresh tokens](https://ads-api.reddit.com/docs/v3/authenticate-your-developer-application).\n\n![v3 ERD diagram](/common/v3/erd-diagram.png)\n\nHere are two popular ways to use the Reddit Ads API:\n\n- **Postman:** A visual client that makes it simpler to set up and start testing requests and responses. This is the fastest way to familiarize yourself with the API if you prefer a point-and-click approach. You can explore our [Postman collections](https://www.postman.com/reddit-ads-api \"https://www.postman.com/reddit-ads-api\").\n- **Programmatic access:** Use your preferred programming language or command-line tools to create automations and integrations. This approach is ideal if you want to embed API calls into your workflows or build custom tools.\n\n### User agents\n\nRate-limiting issues often occur if you haven't set your user agent to a unique descriptor. Many default user agents (like `\u201cPython/urllib\u201d` or `\u201cJava\u201d`) are drastically limited to encourage unique and descriptive user-agent strings. We recommend following this format for your client's user agent string:\n\n```\n{{Target platform}}:{{Unique app ID}}:{{Version string}} (by /u/{{Your Reddit username}})\n```\n\n> **Note:** Including your version number helps us block old buggy or broken versions of your app safely. Just remember to update this string when you update your version number.\n\nExample\n\n```\nUser-Agent: android:com.example.myredditapp:v1.2.3 (by /u/kemitche)\n```\n\n\n\n> **Important:** Never lie about your user agent! Don't pretend to be popular browsers or other bots. We'll ban anyone caught in the act.\n\n### Pagination\n\nPaginated endpoints respond with a `pagination` object containing up to 2 fields:\n\n> **Important:** The URLs for these fields should be followed directly. Don't assume pagination based on the query parameters in the provided URLs.\n\n- **`next_url`:** The full URL to access the next page of the response. If not available, the current page is the final page.\n- **`previous_url`:** The full URL to access the previous page of the response. If not available, the current page is the first page.\n\nAll endpoints that return a list, such as `List Campaigns` and `Get a Report`, will be paginated.\n\n### Response types\n\nResponse | Description\n--- | ---\n200 | Successfully processed the request.\n400 | Request was invalid. See the client error message for specifics.\n401 | No bearer token or a bad bearer token was provided. Check your application authentication.\n403 | Insufficient authentication scopes or the user doesn't have permission. Check the client error message for specifics. If it's a permission issue, ensure the user has the proper permissions assigned to take action.\n404 | Specified resource was not found. Check that correct permissions have been given to the source and that the resource exists.\n429 | Request has exceeded rate limits. For more information on rate limiting and best practices for handling errors, see our [rate limiting reference](/ads-api/guides/quick-start/rate-limiting).\n500 | Server error while processing events. Try again later or [use our chat agent](https://business.reddithelp.com/s/) if the problem persists.\n\n### Limitations\n\n> **Note:** Future changes may introduce new limitations.\n\n- **Rate limits:** Exceeding request limits may result in temporary throttling.\n- **Functionality restrictions:** Unless explicitly stated, alpha or beta products aren't supported in the Reddit Ads API."
 },
 "servers": [
  {
   "url": "https://ads-api.reddit.com/api/v3",
   "description": "Reddit AdsAPI Production"
  }
 ],
 "tags": [
  {
   "name": "Ad Account History",
   "description": "Information about ad account history."
  },
  {
   "name": "Ad Accounts",
   "description": "Information about ad accounts."
  },
  {
   "name": "Ad Groups",
   "description": "Information about ad groups."
  },
  {
   "name": "Ads",
   "description": "Information about ads."
  },
  {
   "name": "App",
   "description": "Information about apps."
  },
  {
   "name": "Bid Suggestions",
   "description": "Suggest bids."
  },
  {
   "name": "Businesses",
   "description": "Information about businesses."
  },
  {
   "name": "Campaigns",
   "description": "Information about campaigns."
  },
  {
   "name": "Creative Assets",
   "description": "Information about creative assets stored in the asset library."
  },
  {
   "name": "Custom Audiences",
   "description": "Information about custom audiences."
  },
  {
   "name": "Data Deletion",
   "description": "Information about data deletion jobs."
  },
  {
   "name": "Forecasting",
   "description": "Information about forecasting."
  },
  {
   "name": "Funding Instruments",
   "description": "Information about funding instruments."
  },
  {
   "name": "Lead Generation Forms",
   "description": "Information about lead generation forms."
  },
  {
   "name": "Members",
   "description": "Information about members."
  },
  {
   "name": "Pixels",
   "description": "Information about Pixels."
  },
  {
   "name": "Posts",
   "description": "Information about posts."
  },
  {
   "name": "Product Catalogs",
   "description": "Information about product catalogs."
  },
  {
   "name": "Profiles",
   "description": "Information about profiles."
  },
  {
   "name": "Reports",
   "description": "Information about reports."
  },
  {
   "name": "Saved Audiences",
   "description": "Information about saved audiences."
  },
  {
   "name": "SKAdNetwork",
   "description": "Information about SKAdNetwork."
  },
  {
   "name": "Structured Posts",
   "description": "Information about structured posts."
  },
  {
   "name": "Targeting",
   "description": "Information about targeting."
  },
  {
   "name": "Time Zones",
   "description": "Information about time zones."
  }
 ],
 "paths": {
  "/ad_accounts/{ad_account_id}/history": {
   "post": {
    "operationId": "Get Ad Account History",
    "summary": "Get Ad Account History",
    "description": "Retrieve the changelog for an ad account.\n> **Tip:** Send an empty JSON object (`{}`) to return all changes made to the ad account.\n\n## Rate Limit\n\nSee the rate limits for [Business Manager](/ads-api/guides/quick-start/rate-limiting#business-manager).\n\n- **Policy slug:** `ads-business-manager`\n- **Window:** 60 seconds\n- **Quota:** 100 requests",
    "tags": [
     "Ad Account History"
    ],
    "responses": {
     "200": {
      "description": "Changes affecting the ad account, from newest to oldest.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "AdAccountHistoryResponseBody",
         "additionalProperties": false,
         "required": [
          "data",
          "pagination"
         ],
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "AdAccountHistory",
            "additionalProperties": false,
            "properties": {
             "cause": {
              "type": "object",
              "description": "Details on the user who made the change.",
              "additionalProperties": false,
              "properties": {
               "member_id": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The member's member ID.",
                "examples": [
                 "t2_123456"
                ],
                "pattern": "^t2_.*"
               },
               "reddit_username": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The member's Reddit username.",
                "examples": [
                 "reddit_user"
                ]
               },
               "email": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The member's email address.",
                "examples": [
                 "john.snoo@reddit.com"
                ]
               },
               "fullname": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The member's full name.",
                "examples": [
                 "John Snoo"
                ]
               },
               "partner_business_name": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The name of the [partner business](https://business.reddithelp.com/s/article/partner-sharing) the user belongs to, if any.",
                "examples": [
                 "Acme Corporation"
                ]
               },
               "changed_at": {
                "type": "string",
                "description": "When the change happened.",
                "examples": [
                 "2023-11-20T03:00:00Z"
                ],
                "format": "date-time"
               }
              }
             },
             "change": {
              "type": "object",
              "description": "Details on the change that was made.",
              "additionalProperties": false,
              "properties": {
               "after_value": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The value after the change.",
                "examples": [
                 "new_value"
                ]
               },
               "before_value": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The value before the change.",
                "examples": [
                 "old_value"
                ]
               },
               "entity_id": {
                "type": "string",
                "description": "The changed entity's ID.",
                "examples": [
                 "1234567890"
                ]
               },
               "entity_name": {
                "type": [
                 "string",
                 "null"
                ],
                "description": "The changed entity's name.",
                "examples": [
                 "Campaign Name"
                ]
               },
               "entity_type": {
                "type": "string",
                "description": "The changed entity's type.",
                "examples": [
                 "CAMPAIGN"
                ],
                "enum": [
                 "AD_ACCOUNT",
                 "AD",
                 "AD_GROUP",
                 "AUDIENCE",
                 "CAMPAIGN"
                ]
               },
               "field_name": {
                "type": "string",
                "description": "The changed field's name.",
                "examples": [
                 "name"
                ]
               }
              }
             }
            }
           }
          },
          "pagination": {
           "$ref": "#/components/schemas/components_schema_pagination_with_details"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "The token for the page to retrieve.",
      "in": "query",
      "name": "page.token",
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "The number of items to be returned by page.",
      "in": "query",
      "name": "page.size",
      "allowEmptyValue": true,
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "AdAccountHistoryRequestBody",
        "additionalProperties": false,
        "properties": {
         "data": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "start_time": {
            "type": "string",
            "description": "Start of the time window for filtering changes.",
            "examples": [
             "2023-11-20T03:00:00Z"
            ],
            "format": "date-time"
           },
           "end_time": {
            "type": "string",
            "description": "End of the time window for filtering changes.",
            "examples": [
             "2023-11-20T03:00:00Z"
            ],
            "format": "date-time"
           },
           "member_ids": {
            "type": "array",
            "description": "Filter by the member IDs who made the changes.",
            "items": {
             "type": "string"
            },
            "examples": [
             [
              "t2_123",
              "t2_456"
             ]
            ]
           },
           "change_types": {
            "type": "array",
            "description": "Filter by change types.",
            "items": {
             "type": "string",
             "enum": [
              "AD_ACCOUNT",
              "AD",
              "AD_GROUP",
              "AUDIENCE",
              "BID",
              "BUDGET",
              "CAMPAIGN",
              "STATUS",
              "TARGETING"
             ]
            },
            "examples": [
             [
              "AD_ACCOUNT",
              "TARGETING"
             ]
            ]
           },
           "entity_id_filters": {
            "type": "array",
            "title": "EntityIdFilters",
            "description": "Expanded ID filters for specific campaigns, ad groups, or ads.",
            "items": {
             "type": "object",
             "title": "EntityIdFilter",
             "additionalProperties": false,
             "required": [
              "entity_ids",
              "entity_type"
             ],
             "properties": {
              "entity_ids": {
               "type": "array",
               "description": "Filter by entity IDs.",
               "items": {
                "type": "string"
               },
               "examples": [
                [
                 "123",
                 "456"
                ]
               ]
              },
              "entity_type": {
               "type": "string",
               "description": "Filter by entity type. Use the most specific type needed, or the parent type with `include_child_entities` to widen scope.",
               "examples": [
                "AD"
               ],
               "enum": [
                "AD",
                "AD_GROUP",
                "CAMPAIGN"
               ]
              },
              "include_child_entities": {
               "type": "boolean",
               "description": "Whether to include nested entities. Defaults to `false`."
              }
             }
            }
           },
           "entity_field_filters": {
            "type": "array",
            "title": "EntityFieldFilters",
            "deprecated": true,
            "description": "This filter is deprecated and no longer used for history filtering. It is ignored if provided. Use `change_types` to filter history by entity field changes.",
            "items": {
             "type": "object",
             "title": "EntityFieldFilter",
             "additionalProperties": false,
             "required": [
              "entity_fields",
              "entity_type"
             ],
             "properties": {
              "entity_fields": {
               "type": "array",
               "description": "Filter by entity fields.",
               "items": {
                "type": "string"
               },
               "examples": [
                [
                 "id",
                 "name",
                 "configured_status"
                ]
               ]
              },
              "entity_type": {
               "type": "string",
               "description": "Filter by entity type. Use the most specific type needed, or the parent type with `include_child_entities` to widen scope.",
               "examples": [
                "AD"
               ],
               "enum": [
                "AD",
                "AD_ACCOUNT",
                "AD_GROUP",
                "AUDIENCE",
                "CAMPAIGN"
               ]
              }
             }
            }
           },
           "entity_name_filters": {
            "type": "array",
            "title": "EntityNameFilters",
            "description": "Expanded name filters for specific campaigns, ad groups, or ads.",
            "items": {
             "type": "object",
             "title": "EntityNameFilter",
             "additionalProperties": false,
             "required": [
              "entity_names",
              "entity_type",
              "operator"
             ],
             "properties": {
              "entity_names": {
               "type": "array",
               "description": "Filter by entity names.",
               "items": {
                "type": "string"
               },
               "examples": [
                [
                 "Ad 1",
                 "Ad 2"
                ]
               ]
              },
              "entity_type": {
               "type": "string",
               "description": "Filter by entity type.",
               "examples": [
                "AD"
               ],
               "enum": [
                "AD",
                "AD_GROUP",
                "CAMPAIGN"
               ]
              },
              "operator": {
               "type": "string",
               "description": "The operator to filter on.",
               "examples": [
                "LIKE"
               ],
               "enum": [
                "EQUALS",
                "LIKE"
               ]
              },
              "include_child_entities": {
               "type": "boolean",
               "description": "Whether to include nested entities. Defaults to `false`."
              }
             }
            }
           }
          },
          "title": "components_schema_ad_account_history_filter"
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   }
  },
  "/ad_accounts/{ad_account_id}": {
   "get": {
    "operationId": "Get Ad Account",
    "summary": "Get Ad Account",
    "description": "Retrieve ad account by ID.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Read](/ads-api/guides/quick-start/rate-limiting#campaign-management-read).\n\n- **Policy slug:** `ads-campaign-management-read`\n- **Window:** 60 seconds\n- **Quota:** 400 requests",
    "tags": [
     "Ad Accounts"
    ],
    "responses": {
     "200": {
      "description": "An ad account.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "GetAdAccountResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "$ref": "#/components/schemas/Ad_Account_With_Spend_Caps"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   },
   "patch": {
    "operationId": "Update Ad Account",
    "summary": "Update Ad Account",
    "description": "Update an ad account.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Write](/ads-api/guides/quick-start/rate-limiting#campaign-management-write).\n\n- **Policy slug:** `ads-campaign-management-write`\n- **Window:** 60 seconds\n- **Quota:** 200 requests",
    "tags": [
     "Ad Accounts"
    ],
    "responses": {
     "200": {
      "description": "The updated ad account.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "UpdateAdAccountResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "$ref": "#/components/schemas/Ad_Account_With_Spend_Caps"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "data"
        ],
        "properties": {
         "data": {
          "$ref": "#/components/schemas/Ad_Account_With_Spend_Caps"
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "RedditAPIKey": [
       "adsedit"
      ]
     }
    ]
   }
  },
  "/businesses/{business_id}/ad_accounts": {
   "get": {
    "operationId": "List Ad Accounts By Business",
    "summary": "List Ad Accounts By Business",
    "description": "Retrieve the ad accounts in a business.\n> **Note:** Ad accounts [shared with the business](https://business.reddithelp.com/s/article/partner-sharing) won't be returned.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Read](/ads-api/guides/quick-start/rate-limiting#campaign-management-read).\n\n- **Policy slug:** `ads-campaign-management-read`\n- **Window:** 60 seconds\n- **Quota:** 400 requests",
    "tags": [
     "Ad Accounts"
    ],
    "responses": {
     "200": {
      "description": "A list of ad accounts.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ListAdAccountsByBusinessResponse",
         "additionalProperties": false,
         "required": [
          "data",
          "pagination"
         ],
         "properties": {
          "data": {
           "type": "array",
           "title": "AdAccountsList",
           "items": {
            "$ref": "#/components/schemas/Ad_Account"
           }
          },
          "pagination": {
           "$ref": "#/components/schemas/components_schema_pagination"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The business ID.",
      "in": "path",
      "name": "business_id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "example": "1e200a0b-4e98-32cc-dd47-3006e4c85bb2"
      }
     },
     {
      "description": "Filter by ad account IDs.",
      "in": "query",
      "name": "ids",
      "example": "t2_123,t2_abc,t2_xyz",
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "The number of items to be returned by page.",
      "in": "query",
      "name": "page.size",
      "allowEmptyValue": true,
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "description": "The token for the page to retrieve.",
      "in": "query",
      "name": "page.token",
      "schema": {
       "type": "string"
      }
     }
    ],
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   }
  },
  "/businesses/{business_id}/ad_accounts/query": {
   "post": {
    "operationId": "Query Ad Accounts",
    "summary": "Query Ad Accounts",
    "description": "Find ad accounts in a business.\n\n## Rate Limit\n\nSee the rate limits for [Business Manager](/ads-api/guides/quick-start/rate-limiting#business-manager).\n\n- **Policy slug:** `ads-business-manager`\n- **Window:** 60 seconds\n- **Quota:** 100 requests",
    "tags": [
     "Ad Accounts"
    ],
    "responses": {
     "200": {
      "description": "A list of ad accounts.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "QueryAdAccountsResponse",
         "additionalProperties": false,
         "required": [
          "data",
          "pagination"
         ],
         "properties": {
          "data": {
           "type": "array",
           "title": "AdAccountsList",
           "items": {
            "$ref": "#/components/schemas/Ad_Account"
           }
          },
          "pagination": {
           "$ref": "#/components/schemas/components_schema_pagination"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The business ID.",
      "in": "path",
      "name": "business_id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid",
       "example": "1e200a0b-4e98-32cc-dd47-3006e4c85bb2"
      }
     },
     {
      "description": "The token for the page to retrieve.",
      "in": "query",
      "name": "page.token",
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "The number of items to be returned by page.",
      "in": "query",
      "name": "page.size",
      "allowEmptyValue": true,
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "data"
        ],
        "properties": {
         "data": {
          "type": "object",
          "additionalProperties": false,
          "title": "QueryAdAccountsRequestBody",
          "properties": {
           "filter": {
            "type": [
             "string",
             "null"
            ],
            "description": "Filter by ad account name and ID. Join multiple conditions with commas. Operators: `==` (exact match) and `=@` (partial match).",
            "examples": [
             "id==a2_foo,name=@foo"
            ]
           },
           "actors": {
            "type": [
             "array",
             "null"
            ],
            "items": {
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The actor ID.",
               "examples": [
                "1238-1234-1234-1234-1212"
               ]
              },
              "type": {
               "type": "string",
               "description": "The actor type.",
               "examples": [
                "MEMBER"
               ],
               "enum": [
                "AD_ACCOUNT",
                "BUSINESS",
                "INVITATION",
                "MEMBER",
                "DEVELOPER_APP"
               ]
              }
             },
             "title": "components_schema_actor"
            },
            "description": "Filter by members (actors) with access in the business."
           },
           "roles": {
            "type": [
             "array",
             "null"
            ],
            "items": {
             "type": "string",
             "description": "The level of access that a permission grants.",
             "examples": [
              "ADMIN"
             ],
             "enum": [
              "ADMIN",
              "ANALYST",
              "CATALOG_ADMIN",
              "BUSINESS_ADMIN",
              "CREATOR",
              "USE_ASSET",
              "PARTNER_ADMIN",
              "PARTNER_CREATOR",
              "PARTNER_ANALYST"
             ],
             "title": "components_enums_role"
            },
            "description": "Filter by user roles. Learn about [roles](https://business.reddithelp.com/s/article/Add-users-to-a-Reddit-Ads-account#user-role)."
           },
           "assets": {
            "type": [
             "array",
             "null"
            ],
            "items": {
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The asset's ID.",
               "examples": [
                "1238-1234-1234-1234-1212"
               ]
              },
              "type": {
               "type": "string",
               "description": "The asset's type.",
               "examples": [
                "AD_ACCOUNT"
               ],
               "enum": [
                "AD_ACCOUNT",
                "BILLING_ADDRESS",
                "CUSTOM_AUDIENCE",
                "FUNDING_INSTRUMENT",
                "PIXEL",
                "PRODUCT_CATALOG",
                "PROFILE"
               ]
              }
             },
             "title": "components_schema_asset"
            },
            "description": "Filter by asset access."
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   }
  },
  "/ad_accounts/{ad_account_id}/ad_groups": {
   "post": {
    "operationId": "Create Ad Group",
    "summary": "Create Ad Group",
    "description": "Create an ad group.\nFor an `AUTOMATED` Reddit Max ad group, follow the [Max campaign setup guide](/ads-api/guides/programs/campaign/max-campaign-setup).\n> **Important:** Starting July 13th, 2026, `conversion_pixel_id` is required for all ad groups. Retrieve your Pixel with [`List Pixels by Ad Account`](https://ads-api.reddit.com/docs/v3/operations/List%20Pixels%20By%20Ad%20Account).\n## Optimization goal options\n`optimization_goal` is required for [conversion](https://business.reddithelp.com/s/article/About-Reddit-Ads-conversion-tracking), [video views](https://business.reddithelp.com/s/article/video-goals), [catalog sales](https://business.reddithelp.com/s/article/catalogs), and [app install](https://business.reddithelp.com/s/article/app-install-ads) campaign objectives.\n\nConversion\n\n  > **Note:** Starting May 5th, `VIEW_CONTENT`, `SEARCH`, and `ADD_TO_WISHLIST` will no longer be supported for **new ad groups**. Existing ad groups using these goals won't be affected, but they can't be created, extended, duplicated, or replicated.\n\n  - `PAGE_VISIT`\n  - `VIEW_CONTENT`\n  - `SEARCH`\n  - `ADD_TO_CART`\n  - `ADD_TO_WISHLIST`\n  - `PURCHASE`\n  - `LEAD`\n  - `SIGN_UP`\n  - `CLICKS`\n\n  > **Note:** `CLICKS` is only available if neither Pixel nor CAPI has been set up.\n\n\n\nVideo views\n\n  > **Important:** Starting **March 31st, 2026**, `NULL` is no longer supported. Set to a valid video goal to prevent issues. Learn about [video goals](https://business.reddithelp.com/s/article/video-goals).\n\n  - `VIDEO_VIEW_6S`\n  - `VIDEO_VIEW_15S`\n\n  > **Note:** `VIDEO_VIEW_15S` requires a `bid_type` of `CPV15`.\n\n\n\nCatalog sales\n\n  - `PURCHASE`\n  - `CLICKS`\n\n  > **Note:** `CLICKS` is only available if neither Pixel nor CAPI has been set up.\n\n\nApp install\n\n  > **Note:** Learn more about [app event goals](https://business.reddithelp.com/s/article/app-event-optimization).\n\n  - `MOBILE_CONVERSION_INSTALL`\n  - `MOBILE_CONVERSION_SIGN_UP`\n  - `MOBILE_CONVERSION_ADD_PAYMENT_INFO`\n  - `MOBILE_CONVERSION_ADD_TO_CART`\n  - `MOBILE_CONVERSION_PURCHASE`\n  - `MOBILE_CONVERSION_COMPLETED_TUTORIAL`\n  - `MOBILE_CONVERSION_LEVEL_ACHIEVED`\n  - `MOBILE_CONVERSION_SPEND_CREDITS`\n  - `MOBILE_CONVERSION_REINSTALL`\n  - `MOBILE_CONVERSION_UNLOCK_ACHIEVEMENT`\n  - `MOBILE_CONVERSION_START_TRIAL`\n  - `MOBILE_CONVERSION_SUBSCRIBE`\n  - `MOBILE_CONVERSION_ONBOARD_STARTED`\n  - `MOBILE_CONVERSION_FIRST_TIME_PURCHASE`\n\n\n\nWhen `shopping_type` is `DYNAMIC`, see the `targeting` field description for which fields are applied.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Write](/ads-api/guides/quick-start/rate-limiting#campaign-management-write).\n\n- **Policy slug:** `ads-campaign-management-write`\n- **Window:** 60 seconds\n- **Quota:** 200 requests",
    "tags": [
     "Ad Groups"
    ],
    "responses": {
     "201": {
      "description": "An ad group.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "CreateAdGroupResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "title": "Ad Group",
           "oneOf": [
            {
             "$ref": "#/components/schemas/Ad_Group"
            },
            {
             "$ref": "#/components/schemas/Automated_Ad_Group"
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "CreateAdGroupRequest",
        "additionalProperties": false,
        "required": [
         "data"
        ],
        "properties": {
         "data": {
          "title": "Ad Group Create",
          "oneOf": [
           {
            "title": "Manual Ad Group Create",
            "allOf": [
             {
              "$ref": "#/components/schemas/Ad_Group"
             },
             {
              "required": [
               "bid_strategy",
               "bid_type",
               "campaign_id",
               "name"
              ]
             }
            ]
           },
           {
            "title": "Automated Ad Group Create",
            "description": "Create an automated ad group in a Reddit Max campaign. The parent campaign controls bidding, delivery pacing, priority, and frequency caps. Creative inputs belong on the dynamic creative template ad rather than the ad group. See the [Max campaign setup guide](/ads-api/guides/programs/campaign/max-campaign-setup) for the complete creation workflow.",
            "type": "object",
            "additionalProperties": true,
            "required": [
             "type",
             "campaign_id",
             "name",
             "targeting"
            ],
            "properties": {
             "type": {
              "description": "The `AUTOMATED` type identifies an ad group in a Reddit Max campaign.",
              "type": "string",
              "const": "AUTOMATED",
              "examples": [
               "AUTOMATED"
              ]
             },
             "campaign_id": {
              "description": "The campaign ID.",
              "examples": [
               "579922433862993631"
              ],
              "type": "string",
              "title": "campaign_id"
             },
             "name": {
              "description": "The entity name.",
              "type": "string",
              "minLength": 3,
              "maxLength": 500,
              "title": "non_nullable"
             },
             "configured_status": {
              "$ref": "#/components/schemas/configured_status"
             },
             "targeting": {
              "title": "Reddit Max Ad Group Targeting",
              "description": "Audience signals and controls for an automated Reddit Max ad group.\n\nAt least one of `communities`, `interests`, `keywords`, or\n`custom_audience_ids` must be a non-empty array. Reddit uses those values as\nseed signals for automated targeting. Geolocations and exclusion fields\nremain hard controls. The service enforces the cross-field seed requirement\nand returns a `400` response when it is not met.",
              "allOf": [
               {
                "$ref": "#/components/schemas/components_schema_targeting"
               },
               {
                "type": "object",
                "additionalProperties": true
               }
              ],
              "unevaluatedProperties": false
             },
             "bid_value": {
              "description": "The amount to pay per bidding event (microcurrency). Must be between $3.50 and $100 USD when `bid_type` is `CPM`.",
              "examples": [
               500000
              ],
              "minimum": 0,
              "type": [
               "integer",
               "null"
              ],
              "title": "bid_value"
             },
             "app_id": {
              "type": [
               "string",
               "null"
              ],
              "description": "The Apple App Store or Google Play Store app ID. Used for `APP_INSTALLS` campaigns. See the [iOS App Install limits](https://ads-api.reddit.com/docs/v3/operations/Get%20SKAdNetwork%20Availability).",
              "examples": [
               "1064216828",
               "com.reddit.frontpage"
              ],
              "title": "app_id"
             },
             "schedule": {
              "description": "The recurring weekly window(s) when an ad group may deliver. Day values are `0` (Sunday) through `6` (Saturday); hour values are `0`\u2013`23` on a 24-hour clock (in the ad group's time zone).",
              "type": [
               "array",
               "null"
              ],
              "minItems": 0,
              "items": {
               "$ref": "#/components/schemas/components_schema_time_block"
              },
              "title": "schedule"
             },
             "conversion_pixel_id": {
              "description": "The ad group's Pixel ID.\n> **Important:** This field is required for all ad groups starting July 13th, 2026. Retrieve your Pixels with [`List Pixels by Ad Account`](https://ads-api.reddit.com/docs/v3/operations/List%20Pixels%20By%20Ad%20Account).",
              "examples": [
               "t2_123456",
               "a2_123456",
               "p2_123456"
              ],
              "type": [
               "string"
              ],
              "title": "conversion_pixel_id"
             },
             "end_time": {
              "description": "When the ad group will stop delivering ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)). If `null`, the ad group will run continuously. For campaign budget optimization (CBO), this must match or be earlier than the campaign end time. Set this to `null` if the campaign end time is also `null`.",
              "examples": [
               "2019-02-18T22:27:10Z"
              ],
              "type": [
               "string",
               "null"
              ],
              "title": "end_time"
             },
             "goal_type": {
              "$ref": "#/components/schemas/goal_type"
             },
             "goal_value": {
              "description": "The value used to determine if the goal has been met. Measured in microcurrency for monetary goal types. Set to `null` for campaign budget optimization.\n> **Note:** This value is based on `goal_type`. Therefore, for `PERCENTAGE` goals, this value should be a value between 0 and 100.",
              "examples": [
               75
              ],
              "minimum": 0,
              "type": [
               "integer",
               "null"
              ],
              "title": "goal_value"
             },
             "optimization_goal": {
              "description": "The event you want to measure. Must match the campaign's optimization goal for CBO campaigns. Set to `NULL` for conversions or app installs objectives to default from the campaign. **This can't be changed later.** See the [goal options](https://ads-api.reddit.com/docs/v3/operations/Create%20Ad%20Group#optimization-goal-options).",
              "examples": [
               "PAGE_VISIT",
               "VIEW_CONTENT",
               "SEARCH",
               "ADD_TO_CART",
               "ADD_TO_WISHLIST",
               "PURCHASE",
               "LEAD",
               "SIGN_UP",
               "CLICKS",
               "MOBILE_CONVERSION_INSTALL",
               "MOBILE_CONVERSION_SIGN_UP",
               "MOBILE_CONVERSION_ADD_PAYMENT_INFO",
               "MOBILE_CONVERSION_ADD_TO_CART",
               "MOBILE_CONVERSION_PURCHASE",
               "MOBILE_CONVERSION_COMPLETED_TUTORIAL",
               "MOBILE_CONVERSION_LEVEL_ACHIEVED",
               "MOBILE_CONVERSION_SPEND_CREDITS",
               "MOBILE_CONVERSION_REINSTALL",
               "MOBILE_CONVERSION_UNLOCK_ACHIEVEMENT",
               "MOBILE_CONVERSION_START_TRIAL",
               "MOBILE_CONVERSION_SUBSCRIBE",
               "MOBILE_CONVERSION_ONBOARD_STARTED",
               "MOBILE_CONVERSION_FIRST_TIME_PURCHASE",
               "VIDEO_VIEW_6S",
               "VIDEO_VIEW_15S"
              ],
              "type": [
               "string",
               "null"
              ],
              "allOf": [
               {
                "$ref": "#/components/schemas/components_enums_optimization_goal"
               }
              ],
              "title": "optimization_goal"
             },
             "start_time": {
              "description": "When the ad group will begin to deliver ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)). Required if `end_time` is set. If `null`, the ad group will run continuously starting today. For ad groups in a campaign with a start time in the future, this must match or be later than the campaign start time.",
              "examples": [
               "2019-02-18T22:27:10Z"
              ],
              "type": [
               "string",
               "null"
              ],
              "title": "start_time"
             },
             "view_through_conversion_type": {
              "$ref": "#/components/schemas/components_enums_view_through_conversion_type"
             }
            }
           }
          ]
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "RedditAPIKey": [
       "adsedit"
      ]
     }
    ]
   },
   "get": {
    "operationId": "List Ad Groups",
    "summary": "List Ad Groups",
    "description": "Retrieve ad groups by ad account.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Read](/ads-api/guides/quick-start/rate-limiting#campaign-management-read).\n\n- **Policy slug:** `ads-campaign-management-read`\n- **Window:** 60 seconds\n- **Quota:** 400 requests",
    "tags": [
     "Ad Groups"
    ],
    "responses": {
     "200": {
      "description": "A list of ad groups.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ListAdGroupsResponse",
         "additionalProperties": false,
         "required": [
          "data",
          "pagination"
         ],
         "properties": {
          "data": {
           "type": "array",
           "title": "AdGroupsList",
           "items": {
            "title": "Ad Group",
            "oneOf": [
             {
              "$ref": "#/components/schemas/Ad_Group"
             },
             {
              "$ref": "#/components/schemas/Automated_Ad_Group"
             }
            ]
           }
          },
          "pagination": {
           "$ref": "#/components/schemas/components_schema_pagination"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "Filter by campaign ID.",
      "in": "query",
      "name": "campaign_id",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "Filter by ad group IDs.",
      "in": "query",
      "name": "id",
      "example": [
       "2179967543",
       "2172797281"
      ],
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "maxItems": 200,
       "items": {
        "type": "string"
       }
      }
     },
     {
      "description": "The token for the page to retrieve.",
      "in": "query",
      "name": "page.token",
      "schema": {
       "type": "string"
      }
     },
     {
      "description": "The number of items to be returned by page.",
      "in": "query",
      "name": "page.size",
      "allowEmptyValue": true,
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     }
    ],
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   }
  },
  "/ad_groups/{ad_group_id}": {
   "get": {
    "operationId": "Get Ad Group",
    "summary": "Get Ad Group",
    "description": "Retrieve an ad group.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Read](/ads-api/guides/quick-start/rate-limiting#campaign-management-read).\n\n- **Policy slug:** `ads-campaign-management-read`\n- **Window:** 60 seconds\n- **Quota:** 400 requests",
    "tags": [
     "Ad Groups"
    ],
    "responses": {
     "200": {
      "description": "An ad group.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "GetAdGroupResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "title": "Ad Group",
           "oneOf": [
            {
             "$ref": "#/components/schemas/Ad_Group"
            },
            {
             "$ref": "#/components/schemas/Automated_Ad_Group"
            }
           ]
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad group ID.",
      "in": "path",
      "name": "ad_group_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "security": [
     {
      "RedditAPIKey": [
       "adsread"
      ]
     }
    ]
   },
   "patch": {
    "operationId": "Update Ad Group",
    "summary": "Update Ad Group",
    "description": "Update an ad group.\nWhen `shopping_type` is `DYNAMIC`, see the `targeting` field description for which fields are applied.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Write](/ads-api/guides/quick-start/rate-limiting#campaign-management-write).\n\n- **Policy slug:** `ads-campaign-management-write`\n- **Window:** 60 seconds\n- **Quota:** 200 requests",
    "tags": [
     "Ad Groups"
    ],
    "responses": {
     "200": {
      "description": "The updated ad group.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "UpdateAdGroupResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "title": "Ad Group",
           "oneOf": [
            {
             "$ref": "#/components/schemas/Ad_Group"
            },
            {
             "$ref": "#/components/schemas/Automated_Ad_Group"
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad group ID.",
      "in": "path",
      "name": "ad_group_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "data"
        ],
        "properties": {
         "data": {
          "title": "Ad Group Patch",
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "name": {
            "description": "The entity name.",
            "type": "string",
            "minLength": 3,
            "maxLength": 500,
            "title": "non_nullable"
           },
           "configured_status": {
            "$ref": "#/components/schemas/configured_status"
           },
           "targeting": {
            "$ref": "#/components/schemas/components_schema_targeting"
           },
           "bid_strategy": {
            "$ref": "#/components/schemas/bid_strategy"
           },
           "bid_type": {
            "$ref": "#/components/schemas/bid_type"
           },
           "bid_value": {
            "description": "The amount to pay per bidding event (microcurrency). Must be between $3.50 and $100 USD when `bid_type` is `CPM`.",
            "examples": [
             500000
            ],
            "minimum": 0,
            "type": [
             "integer",
             "null"
            ],
            "title": "bid_value"
           },
           "conversion_pixel_id": {
            "description": "The ad group's Pixel ID.\n> **Important:** This field is required for all ad groups starting July 13th, 2026. Retrieve your Pixels with [`List Pixels by Ad Account`](https://ads-api.reddit.com/docs/v3/operations/List%20Pixels%20By%20Ad%20Account).",
            "examples": [
             "t2_123456",
             "a2_123456",
             "p2_123456"
            ],
            "type": [
             "string"
            ],
            "title": "conversion_pixel_id"
           },
           "end_time": {
            "description": "When the ad group will stop delivering ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)). If `null`, the ad group will run continuously. For campaign budget optimization (CBO), this must match or be earlier than the campaign end time. Set this to `null` if the campaign end time is also `null`.",
            "examples": [
             "2019-02-18T22:27:10Z"
            ],
            "type": [
             "string",
             "null"
            ],
            "title": "end_time"
           },
           "goal_value": {
            "description": "The value used to determine if the goal has been met. Measured in microcurrency for monetary goal types. Set to `null` for campaign budget optimization.\n> **Note:** This value is based on `goal_type`. Therefore, for `PERCENTAGE` goals, this value should be a value between 0 and 100.",
            "examples": [
             75
            ],
            "minimum": 0,
            "type": [
             "integer",
             "null"
            ],
            "title": "goal_value"
           },
           "schedule": {
            "description": "The recurring weekly window(s) when an ad group may deliver. Day values are `0` (Sunday) through `6` (Saturday); hour values are `0`\u2013`23` on a 24-hour clock (in the ad group's time zone).",
            "type": [
             "array",
             "null"
            ],
            "minItems": 0,
            "items": {
             "$ref": "#/components/schemas/components_schema_time_block"
            },
            "title": "schedule"
           },
           "start_time": {
            "description": "When the ad group will begin to deliver ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)). Required if `end_time` is set. If `null`, the ad group will run continuously starting today. For ad groups in a campaign with a start time in the future, this must match or be later than the campaign start time.",
            "examples": [
             "2019-02-18T22:27:10Z"
            ],
            "type": [
             "string",
             "null"
            ],
            "title": "start_time"
           },
           "optimization_goal": {
            "description": "The event you want to measure. Must match the campaign's optimization goal for CBO campaigns. Set to `NULL` for conversions or app installs objectives to default from the campaign. **This can't be changed later.** See the [goal options](https://ads-api.reddit.com/docs/v3/operations/Create%20Ad%20Group#optimization-goal-options).",
            "examples": [
             "PAGE_VISIT",
             "VIEW_CONTENT",
             "SEARCH",
             "ADD_TO_CART",
             "ADD_TO_WISHLIST",
             "PURCHASE",
             "LEAD",
             "SIGN_UP",
             "CLICKS",
             "MOBILE_CONVERSION_INSTALL",
             "MOBILE_CONVERSION_SIGN_UP",
             "MOBILE_CONVERSION_ADD_PAYMENT_INFO",
             "MOBILE_CONVERSION_ADD_TO_CART",
             "MOBILE_CONVERSION_PURCHASE",
             "MOBILE_CONVERSION_COMPLETED_TUTORIAL",
             "MOBILE_CONVERSION_LEVEL_ACHIEVED",
             "MOBILE_CONVERSION_SPEND_CREDITS",
             "MOBILE_CONVERSION_REINSTALL",
             "MOBILE_CONVERSION_UNLOCK_ACHIEVEMENT",
             "MOBILE_CONVERSION_START_TRIAL",
             "MOBILE_CONVERSION_SUBSCRIBE",
             "MOBILE_CONVERSION_ONBOARD_STARTED",
             "MOBILE_CONVERSION_FIRST_TIME_PURCHASE",
             "VIDEO_VIEW_6S",
             "VIDEO_VIEW_15S"
            ],
            "type": [
             "string",
             "null"
            ],
            "allOf": [
             {
              "$ref": "#/components/schemas/components_enums_optimization_goal"
             }
            ],
            "title": "optimization_goal"
           },
           "product_set_id": {
            "description": "The ad group's product set. Required for all [`CATALOG_SALES` ads](https://business.reddithelp.com/s/article/catalogs). Used to select products for dynamic product ads, or link an ad group to a specific catalog for static ads.\n> **Tip:** Use [`List Product Catalogs`](https://ads-api.reddit.com/docs/v3/operations/List%20Product%20Catalogs) and then [`List Product Sets`](https://ads-api.reddit.com/docs/v3/operations/List%20Product%20Sets) to retrieve this value.",
            "examples": [
             "ebb0698a-fef2-4373-ae75-8ec44ba4d037"
            ],
            "type": [
             "string",
             "null"
            ],
            "format": "uuid",
            "title": "product_set_id"
           },
           "saved_audience_id": {
            "description": "The saved audience ID.",
            "examples": [
             "1216949373062893780"
            ],
            "type": [
             "string",
             "null"
            ],
            "title": "saved_audience_id"
           },
           "shopping_type": {
            "$ref": "#/components/schemas/shopping_type"
           },
           "shopping_targeting": {
            "anyOf": [
             {
              "$ref": "#/components/schemas/components_schema_shopping_targeting"
             },
             {
              "type": "null"
             }
            ],
            "title": "shopping_targeting"
           },
           "campaign_objective_type": {
            "type": [
             "string",
             "null"
            ],
            "description": "The campaign's objective type.",
            "enum": [
             "APP_INSTALLS",
             "CATALOG_SALES",
             "CLICKS",
             "CONVERSIONS",
             "IMPRESSIONS",
             "LEAD_GENERATION",
             "VIDEO_VIEWABLE_IMPRESSIONS",
             null
            ],
            "examples": [
             "IMPRESSIONS"
            ],
            "readOnly": true,
            "title": "campaign_objective_type",
            "deprecated": true
           },
           "created_at": {
            "description": "When this entity was created ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)).",
            "example": "2023-03-27T21:18:39Z",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "components_schema_created_at",
            "deprecated": true
           },
           "delivery_status": {
            "type": [
             "array",
             "null"
            ],
            "description": "The delivery statuses for this ad group.",
            "items": {
             "type": "string"
            },
            "examples": [
             [
              "PENDING_BILLING_INFO",
              "CAMPAIGN_PAUSED",
              "PENDING_REVIEW"
             ]
            ],
            "readOnly": true,
            "title": "components_schema_delivery_status",
            "deprecated": true
           },
           "effective_status": {
            "description": "The calculated status determining the real status of this entity.",
            "examples": [
             "ACTIVE"
            ],
            "type": [
             "string",
             "null"
            ],
            "enum": [
             "ACTIVE",
             "AD_GROUP_PAUSED",
             "ARCHIVED",
             "CAMPAIGN_PAUSED",
             "COMPLETED",
             "DELETED",
             "PAUSED",
             "PENDING_APPROVAL",
             "PENDING_BILLING_INFO",
             "PENDING_ID_VERIFICATION",
             "REJECTED",
             "INVALID_DATA_SOURCE",
             "MISSING_PERMISSIONS",
             "PROCESSING",
             null
            ],
            "title": "effective_status",
            "readOnly": true,
            "deprecated": true
           },
           "id": {
            "description": "The ad group ID.",
            "examples": [
             "142154364526"
            ],
            "type": "string",
            "readOnly": true,
            "title": "id-3",
            "deprecated": true
           },
           "is_campaign_budget_optimization": {
            "type": [
             "boolean",
             "null"
            ],
            "description": "Whether the ad group belongs to a CBO (campaign budget optimization) campaign. This cannot be modified with the API.",
            "examples": [
             true
            ],
            "readOnly": true,
            "title": "is_campaign_budget_optimization",
            "deprecated": true
           },
           "modified_at": {
            "title": "Modified At",
            "description": "When this entity was last changed ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)).",
            "example": "2023-03-27T21:18:39Z",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "deprecated": true
           }
          }
         }
        }
       }
      }
     }
    },
    "security": [
     {
      "RedditAPIKey": [
       "adsedit"
      ]
     }
    ]
   }
  },
  "/ad_accounts/{ad_account_id}/ads": {
   "post": {
    "operationId": "Create Ad",
    "summary": "Create Ad",
    "description": "Create an ad. For a Reddit Max campaign, create a `DYNAMIC_CREATIVE_AD_TEMPLATE` ad as described in the [Max campaign setup guide](/ads-api/guides/programs/campaign/max-campaign-setup). For catalog sales ads using `shopping_creative`, see `click_url` for how it is handled.\n\n## Rate Limit\n\nSee the rate limits for [Campaign Management Write](/ads-api/guides/quick-start/rate-limiting#campaign-management-write).\n\n- **Policy slug:** `ads-campaign-management-write`\n- **Window:** 60 seconds\n- **Quota:** 200 requests",
    "tags": [
     "Ads"
    ],
    "responses": {
     "201": {
      "description": "An ad.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "CreateAdResponse",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "title": "Ad",
           "oneOf": [
            {
             "title": "Ad",
             "type": "object",
             "additionalProperties": true,
             "allOf": [
              {
               "properties": {
                "type": {
                 "description": "The ad type.",
                 "type": "string",
                 "enum": [
                  "UNSPECIFIED"
                 ],
                 "example": "UNSPECIFIED"
                }
               }
              },
              {
               "$ref": "#/components/schemas/Ad"
              },
              {
               "properties": {
                "post_id": {
                 "description": "The ad's post ID.",
                 "examples": [
                  "t3_12345"
                 ],
                 "type": [
                  "string",
                  "null"
                 ],
                 "pattern": "^t3_.*"
                },
                "post_url": {
                 "description": "The ad's post URL.",
                 "examples": [
                  "https://www.reddit.com/comments/123abc7"
                 ],
                 "type": [
                  "string",
                  "null"
                 ],
                 "readOnly": true
                },
                "products": {
                 "description": "Products associated with the ad. Up to 6 products.",
                 "type": [
                  "array",
                  "null"
                 ],
                 "items": {
                  "$ref": "#/components/schemas/components_schema_ad_product"
                 }
                },
                "profile_id": {
                 "description": "The ID of the ad post's author. Required for catalog sales campaigns.",
                 "type": [
                  "string",
                  "null"
                 ]
                },
                "profile_username": {
                 "description": "This field is never populated. It is deprecated and will be removed in the next API version.",
                 "deprecated": true,
                 "type": [
                  "string",
                  "null"
                 ]
                },
                "shopping_creative": {
                 "anyOf": [
                  {
                   "$ref": "#/components/schemas/components_schema_shopping_creative"
                  },
                  {
                   "type": "null"
                  }
                 ]
                }
               }
              }
             ]
            },
            {
             "title": "Dynamic Creative Ad Template",
             "description": "A Reddit Max template ad. The template contains the creative inputs that Reddit uses to generate ads for delivery.",
             "type": "object",
             "additionalProperties": true,
             "allOf": [
              {
               "properties": {
                "type": {
                 "description": "The ad type used for a Reddit Max creative template.",
                 "type": "string",
                 "enum": [
                  "DYNAMIC_CREATIVE_AD_TEMPLATE"
                 ],
                 "example": "DYNAMIC_CREATIVE_AD_TEMPLATE"
                }
               },
               "required": [
                "type"
               ]
              },
              {
               "$ref": "#/components/schemas/Ad"
              },
              {
               "$ref": "#/components/schemas/DynamicCreativeAdConfig"
              }
             ]
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_400"
        }
       }
      }
     },
     "401": {
      "description": "No bearer token or a bad bearer token was provided.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_401"
        }
       }
      }
     },
     "403": {
      "description": "Insufficient authentication scopes.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_403"
        }
       }
      }
     },
     "404": {
      "description": "The specified resource was not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_404"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests. See [Rate Limiting](/ads-api/guides/quick-start/rate-limiting) for header details and best practices.",
      "headers": {
       "RateLimit-Policy": {
        "description": "The rate limit policies that apply to this request (IETF \"RateLimit header fields for HTTP\" draft). Each comma-separated policy is keyed by a public policy name and lists its quota `q` and window in seconds `w`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";q=3000;w=900,\"custom-audience-ingestion-burst\";q=500;w=60"
         ]
        }
       },
       "RateLimit": {
        "description": "The current rate limit state for each applicable policy (IETF \"RateLimit header fields for HTTP\" draft): remaining quota `r` and seconds until the window resets `t`. On a 429 the exhausted policy reports `r=0`.",
        "schema": {
         "type": "string",
         "examples": [
          "\"custom-audience-ingestion\";r=0;t=42,\"custom-audience-ingestion-burst\";r=0;t=5"
         ]
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_429"
        }
       }
      }
     },
     "5XX": {
      "description": "Server error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/components_errors_500"
        }
       }
      }
     }
    },
    "parameters": [
     {
      "description": "The ad account ID.",
      "in": "path",
      "name": "ad_account_id",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "data"
        ],
        "properties": {
         "data": {
          "title": "Ad Create",
          "description": "Ad create payload.",
          "oneOf": [
           {
            "title": "Standard Ad Create",
            "type": "object",
            "additionalProperties": true,
            "required": [
             "ad_group_id",
             "configured_status",
             "name"
            ],
            "properties": {
             "type": {
              "description": "The ad type.",
              "type": "string",
              "const": "UNSPECIFIED",
              "default": "UNSPECIFIED"
             },
             "ad_account_id": {
              "description": "The ad account ID.",
              "examples": [
               "t2_123456"
              ],
              "type": "string",
              "pattern": "^(t2|a2)_.*",
              "readOnly": true,
              "title": "id-2"
             },
             "ad_group_id": {
              "description": "The ID of the ad group this ad belongs to.",
              "type": "string",
              "examples": [
               "142154364526"
              ],
              "title": "ad_group_id"
             },
             "name": {
              "description": "The entity name.",
              "type": "string",
              "minLength": 3,
              "maxLength": 500,
              "title": "non_nullable",
              "examples": [
               "My Ad"
              ]
             },
             "configured_status": {
              "$ref": "#/components/schemas/configured_status-2"
             },
             "post_id": {
              "description": "The ad's post ID.",
              "examples": [
               "t3_12345"
              ],
              "type": [
               "string",
               "null"
              ],
              "pattern": "^t3_.*"
             },
             "profile_id": {
              "description": "The ID of the ad post's author. Required for catalog sales campaigns.",
              "type": [
               "string",
               "null"
              ]
             },
             "click_url": {
              "description": "The URL users are directed to when they click the ad. When `shopping_creative` is set (catalog/product ads), `click_url` is not used for ad delivery; if both are sent in create or update requests, `click_url` is ignored.\n> **Important:** Updating an ad or creative may update `destination_url`, which `click_url` often needs to match. [Update `click_url` to match its value](/ads-api/guides/programs/campaign/match-destination-and-click-url) for **image**, **carousel**, or **video** formats.",
              "examples": [
               "https://www.redditinc.com/"
              ],
              "type": [
               "string",
               "null"
              ],
              "maxLength": 5000,
              "title": "click_url"
             },
             "click_url_query_parameters": {
              "description": "Optional query parameters to be appended to the `click_url`.",
              "examples": [
               [
                {
                 "name": "utm_source",
                 "value": "reddit"
                },
                {
                 "name": "utm_medium",
                 "value": "{{AD_ID}}"
                }
               ]
              ],
              "type": [
               "array",
               "null"
              ],
              "maxItems": 14,
              "items": {
               "$ref": "#/components/schemas/Click_URL_Query_Parameter"
              },
              "title": "click_url_query_parameters"
             },
             "event_trackers": {
              "description": "URLs to be called on certain events. Only URLs from Reddit's list of [approved measurement providers](https://business.reddithelp.com/s/article/Set-up-third-party-measurement) are allowed.",
              "type": [
               "array",
               "null"
              ],
              "items": {
               "type": "object",
               "additionalProperties": false,
               "properties": {
                "type": {
                 "description": "The event type that calls the tracker URL.",
                 "examples": [
                  "CLICK"
                 ],
                 "type": "string",
                 "enum": [
                  "CLICK",
                  "VIEW"
                 ]
                },
                "url": {
                 "description": "The URL to be called on the event.",
                 "examples": [
                  "https://www.redditinc.com/"
                 ],
                 "type": "string"
                }
               }
              },
              "title": "event_trackers"
             },
             "preview_expiry": {
              "description": "When the link for `preview_url` will no longer work. Set to `null` to disable the preview URL. [Learn how to update this field](https://ads-api.reddit.com/docs/v3/preview-an-ad).",
              "examples": [
               "2023-03-27T21:18:39.927000+00:00"
              ],
              "type": [
               "string",
               "null"
              ],
              "format": "date-time",
              "title": "preview_expiry"
             },
             "products": {
              "description": "Products associated with the ad. Up to 6 products.",
              "type": [
               "array",
               "null"
              ],
              "maxItems": 6,
              "items": {
               "$ref": "#/components/schemas/components_schema_ad_product"
              }
             },
             "shopping_creative": {
              "anyOf": [
               {
                "$ref": "#/components/schemas/components_schema_shopping_creative"
               },
               {
                "type": "null"
               }
              ]
             }
            }
           },
           {
            "title": "Dynamic Creative Template Ad Create",
            "description": "Create a dynamic creative template ad in an automated Reddit Max ad group. Reddit uses the supplied creative assets and destination to generate ads for delivery. Materialization state and errors are returned by the service. See the [Max campaign setup guide](/ads-api/guides/programs/campaign/max-campaign-setup) for the complete creation workflow.",
            "type": "object",
            "additionalProperties": true,
            "required": [
             "type",
             "ad_group_id",
             "configured_status",
             "name",
             "profile_id",
             "asset_identifiers",
             "destination"
            ],
            "properties": {
             "type": {
              "description": "The ad type used for a Reddit Max creative template.",
              "type": "string",
              "const": "DYNAMIC_CREATIVE_AD_TEMPLATE",
              "examples": [
               "DYNAMIC_CREATIVE_AD_TEMPLATE"
              ]
             },
             "ad_account_id": {
              "description": "The ad account ID.",
              "examples": [
               "t2_123456"
              ],
              "type": "string",
              "pattern": "^(t2|a2)_.*",
              "readOnly": true,
              "title": "id-2"
             },
             "ad_group_id": {
              "description": "The ID of the ad group this ad belongs to.",
              "type": "string",
              "examples": [
               "142154364526"
              ],
              "title": "ad_group_id"
             },
             "name": {
              "description": "The entity name.",
              "type": "string",
              "minLength": 3,
              "maxLength": 500,
              "title": "non_nullable"
             },
             "configured_status": {
              "$ref": "#/components/schemas/configured_status-2"
             },
             "profile_id": {
              "description": "The profile that owns the template's creative assets.",
              "type": "string"
             },
             "asset_identifiers": {
              "description": "Creative asset identifiers. Supply at least 3 distinct headline assets and 2 distinct media assets. The service validates asset ownership, type, status, and version.",
              "type": "array",
              "minItems": 5,
              "maxItems": 45,
              "items": {
               "$ref": "#/components/schemas/Reddit_Max_Asset_Identifier"
              }
             },
             "thumbnail_asset_identifiers": {
              "description": "Optional image asset identifiers used as video thumbnails.",
              "type": "array",
              "maxItems": 10,
              "items": {
               "$ref": "#/components/schemas/Reddit_Max_Asset_Identifier"
              }
             },
             "destination": {
              "$ref": "#/components/schemas/DestinationUrl"
             },
             "enhancements": {
              "$ref": "#/components/schemas/Creative_Enhancements"
             },
             "event_trackers": {
              "description": "URLs to be called on certain events. Only URLs from Reddit's list of [approved measurement providers](https://business.reddithelp.com/s/article/Set-up-third-party-measurement) are allowed.",
              "type": [
               "array",
               "null"
              ],
              "items": {
[...]
